<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
<!--    <link rel="stylesheet" href="./css/style.css" />-->
    <title>Библиодез</title>
  </head>
  <body>
    <h1 class="no-see">Библиодез</h1>
    <header class="header">
      <section class="headering conteiner">
        <a class="logo-comp" href="/"
          ><img src="../static/img/logo.png" alt="логотип компании"
        /></a>
        <nav class="navigation">
          <a href="/autorysit">
            <svg width="26px" height="27px" viewBox="0 0 48 48">
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <path
                  d="M33.843,26.914L24,36l-9.843-9.086C8.674,30.421,5,36.749,5,44h38C43,36.749,39.326,30.421,33.843,26.914z"
                />
                <path
                  d="M24,28c3.55,0,6.729-1.55,8.926-4C34.831,21.876,36,19.078,36,16c0-6.627-5.373-12-12-12S12,9.373,12,16
                  c0,3.078,1.169,5.876,3.074,8C17.271,26.45,20.45,28,24,28z"
                />
              </g>
            </svg>
          </a>
          <a href="/search"> <h1>Каталог</h1> </a>
        </nav>
      </section>
      <hr class="hr-shadow" />
    </header>
    <main class="main">
      <section class="mine-section conteiner">
        <div class="content">
          <div class="content-text">
            <h1 class="content__title">
              Информационно-аналитический портал дезинфицирующих средств
            </h1>
            <h1 class="content__title">
              Вся документация на антисептики и дезсредства, в свободном доступе
            </h1>
          </div>
        </div>
        <div class="search">
          <form class="form-search" metod="GET" action="/found/">
            <input
              id="search-input"
              type="text"
              placeholder="Введите название средства или часть наименования"
              name="name"
            />
            <button id="found-click" class="faund" type="submit">Найти</button>
          </form>
        </div>
        <div id="content1">
          {% for item in data %}
          <h1>{{item.name}}</h1>
          <a href="{{item.link}}">Еще больше информации тут</a>
          <hr class="hr-shadow dop" />
          {% endfor %}
          <h1>{{noSearch}}</h1>
        </div>
        <h1 class="right-text">"Найдите потребность и восполните её"</h1>
        <h1 class="right-text">Рут-Стаффорд Пил</h1>
      </section>
    </main>
    <footer class="footer">
      <div class="footering conteiner">
        <p></p>
        <p>&copy; БиблиоДез</p>
        <!--        <div class="logo">-->
        <!--          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>-->
        <!--          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>-->
        <!--          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>-->
        <!--          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>-->
        <!--        </div>-->
      </div>
    </footer>
  </body>
</html>
