<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <title>Главная страница</title>
  </head>
  <body>
    <header class="header">
      <section class="headering conteiner">
        <a class="logo-comp" href="#"><img src="#" alt="логотип компании" /></a>
        <nav class="navigation">
          <a href="/autorysit">
            <svg width="26px" height="27px" viewBox="0 0 48 48">
              <path d="M0 0h48v48H0z" fill="none" />
              <g id="Shopicon">
                <path
                  d="M33.843,26.914L24,36l-9.843-9.086C8.674,30.421,5,36.749,5,44h38C43,36.749,39.326,30.421,33.843,26.914z"
                />
                <path
                  d="M24,28c3.55,0,6.729-1.55,8.926-4C34.831,21.876,36,19.078,36,16c0-6.627-5.373-12-12-12S12,9.373,12,16
                  c0,3.078,1.169,5.876,3.074,8C17.271,26.45,20.45,28,24,28z"
                />
              </g>
            </svg>
          </a>
          <a href="#callback"
            ><svg
              fill="#000000"
              version="1.1"
              baseProfile="tiny"
              id="Layer_1"
              width="26px"
              height="27px"
              viewBox="0 0 42 42"
              xml:space="preserve"
            >
              <path
                d="M6.5,25.5v4c0.016,2.812,1.344,2.375,2.328,1.531L14.5,25.91v2.59c0,2.43,0.56,3,3,3h9c0,0,5.209,6.125,5.25,6.084
         c0.75,0.916,2.781,0.604,2.75-1.084v-5h3c2.45,0,3-0.609,3-3v-15c0-2.4-0.59-3-3-3h-10v-2c0-2.47-0.46-3-3-3h-21c-2.36,0-3,0.51-3,3
         v13c0,2.439,0.55,4,3,4H6.5z M31.5,28.5v4.721l-4-4.721h-9c-0.75,0-1-0.27-1-1v-13c0-0.67,0.31-1,1-1h18c0.689,0,1,0.37,1,0.94V27.5
         c0,0.721-0.359,1-1,1H31.5z"
              /></svg
          ></a>
          <a href="/search"><svg
              fill="#000000"
              width="26px"
              height="27px"
              viewBox="0 0 32 32"
              version="1.1"
            >
              <path
                d="M29.156 29.961l-0.709 0.709c-0.785 0.784-2.055 0.784-2.838 0l-5.676-5.674c-0.656-0.658-0.729-1.644-0.281-2.412l-3.104-3.102c-1.669 1.238-3.728 1.979-5.965 1.979-5.54 0-10.031-4.491-10.031-10.031s4.491-10.032 10.031-10.032c5.541 0 10.031 4.491 10.031 10.032 0 2.579-0.98 4.923-2.58 6.7l3.035 3.035c0.768-0.447 1.754-0.375 2.41 0.283l5.676 5.674c0.784 0.785 0.784 2.056 0.001 2.839zM18.088 11.389c0-4.155-3.369-7.523-7.524-7.523s-7.524 3.367-7.524 7.523 3.368 7.523 7.523 7.523 7.525-3.368 7.525-7.523z"
              ></path></svg
          ></a>
        </nav>
      </section>
      <hr class="hr-shadow" />
    </header>
    <main class="main">
      <section class="mine-section">
        <!-- <div class="reclama-left"><img src="#" alt="Реклама" /></div> -->
        <div class="content conteiner">
          <div class="content-text">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
              dolores facilis vero ipsum pariatur nihil sed aut, velit vitae
              ipsam ex obcaecati nulla optio neque provident iste quam alias
              nostrum, voluptatem nam distinctio? Quibusdam quaerat amet omnis
              est alias beatae voluptatum? Itaque iure dolor animi inventore
              dolore! Voluptate quo eius a corrupti quibusdam quas, sequi
              accusamus excepturi voluptatem iusto tempora. Explicabo est
              tempore cumque vel autem molestiae architecto dolorum officia cum
              totam accusamus illo soluta et eligendi doloremque aut, minima
              atque eveniet! At id alias laudantium totam voluptatibus. Sit
              impedit ratione quam, aliquid molestiae, nesciunt ut ullam est
              nihil, et amet doloribus? Sint architecto blanditiis debitis
              perferendis voluptas rem facere facilis impedit dolores inventore
              deleniti animi illo ad sequi pariatur doloribus beatae dolorum
              quaerat adipisci, quisquam eos ab vitae dolore qui. Ducimus,
              itaque at vel provident corporis aspernatur dicta eveniet quia
              tenetur eaque dignissimos eligendi? Quasi hic suscipit, delectus
              explicabo unde quisquam, eligendi exercitationem, voluptates eum
              totam reprehenderit? Tempora ducimus voluptates sint deserunt enim
              repudiandae non, at inventore! Ducimus, laboriosam sapiente itaque
              quas magni est voluptates rem beatae sunt placeat excepturi atque
              iste voluptate reprehenderit deserunt nobis laborum sit architecto
              nemo laudantium nam rerum. Porro at eligendi assumenda
              exercitationem atque?
            </p>
          </div>
          <img src="{{url_for('static', filename='img/tmp/16.png')}}" alt="Картинка" />
        </div>
        <!-- <div class="reclama-right"><img src="#" alt="Реклама" /></div> -->
      </section>
      <section class="main-section-down">
        <!-- <div class="reclama-left-down"><img src="#" alt="Реклама" /></div> -->
        <div class="callback conteiner">
          <form method="POST" class="form" id="callback" action="{{ url_for('send_messag')}}">
            <input name="name" class="input" type="text" placeholder="Enter your name" />
            <input name="email" class="input" type="email" placeholder="Enter your email" />
            <textarea
              name="massag"
              class="input masseg"
              id=""
              cols="30"
              rows="10"
              placeholder="Your message..."
            ></textarea>
            <div class="btn-callback">
              <button type="submit">Отправить</button>
              <button type="reset">Удалить</button>
            </div>
          </form>
          <h1>{{req1}}</h1>
          <!-- <img src="./img/tmp.py/1.jpg" alt="Картинка" /> -->
        </div>
        <!-- <div class="reclama-right-down"><img src="#" alt="Реклама" /></div> -->
      </section>
    </main>
    <footer class="footer">
      <div class="footering conteiner">
        <p>
          Адрес компании, номер телефона и еще что то (краткая информация о
          компании)
        </p>
        <div class="logo">
          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>
          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>
          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>
          <a href="#"><img src="#" alt="Логотип кампании-партнера" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
